<div class="text-center lg:text-left backgroundGreenTea">
    <div class="mx-6 py-10 text-center md:text-left">
      <div class="grid grid-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <div>
          <h6 class="uppercase font-semibold mb-4
            flex items-center justify-center md:justify-start">
            <img src="https://cdn.iconscout.com/icon/free/png-512/free-globe-1767947-1502283.png?f=webp&w=256"
            alt="Akveo (Creator).(2019, July 30). Free Globe Icon [Digital image]. Retrieved from URL https://iconscout.com/free-icon/globe-1767947" class="w-8 pr-2" />
            Jasmine Dragon
          </h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque leo id ligula eleifend
            ultricies.
            Cras a orci tortor. Aenean ac mi faucibus mauris mollis hendrerit viverra gravida enim.
          </p>
        </div>
        <div>
          <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
            Tea
          </h6>
          <p class="mb-4">
            <a href="#!">Seasonal Offerings</a>
          </p>
          <p class="mb-4">
            <a href="#!">Sustainability</a>
          </p>
          <p class="mb-4">
            <a href="#!">Orders</a>
          </p>
        </div>
        <div>
          <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
            Useful links
          </h6>
          <p class="mb-4">
            <a href="#!">About Us</a>
          </p>
          <p class="mb-4">
            <a href="#!">Help</a>
          </p>
          <p>
            <a href="#!">Contact Us</a>
          </p>
        </div>
        <div>
          <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
            Contact
          </h6>
          <p class="flex items-center justify-center md:justify-start mb-4">
            <img src="https://cdn.iconscout.com/icon/free/png-512/free-home-1767940-1502276.png?f=webp&w=256"
            alt="Akveo (Creator).(2019, July 30). Free Home Icon [Digital image]. Retrieved from URL https://iconscout.com/free-icon/home-1767940" class="w-8 pr-2" />
            Grand Forks, ND 58201, US
          </p>
          <p class="flex items-center justify-center md:justify-start mb-4">
            <img src="https://cdn.iconscout.com/icon/free/png-512/free-email-1767971-1502307.png?f=webp&w=256"
            alt="Akveo (Creator).(2019, July 30). Free Email Icon [Digital image]. Retrieved from URL https://iconscout.com/free-icon/email-1767971" class="w-8 pr-2" />
            customer.service@jasmine-dragon.com
          </p>
          <p class="flex items-center justify-center md:justify-start mb-4">
            <img src="https://cdn.iconscout.com/icon/free/png-512/free-phone-1768011-1502185.png?f=webp&w=256"
            alt="Akveo (Creator).(2019, July 30). Free Phone Icon [Digital image]. Retrieved from URL https://iconscout.com/free-icon/phone-1768011" class="w-8 pr-2" />
            + 800 867 5309
          </p>
        </div>
      </div>
    </div>
    <div class="text-center p-3 backgroundBlueAir">
      <span>© 2024 Copyright:</span>
      <label class=font-semibold">Jasmine Dragon</label>
    </div>
  </div>