<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jasmine Dragon</title>
    <link rel="shortcut icon"
      href="https://cdn.iconscout.com/icon/free/png-256/free-teacup-tea-cup-without-handle-drink-beverage-food-emoj-symbol-30687.png" alt="Twitter Emoji (Creator).(2019, September 11). Free Teacup Emoji Icon [Digital image]. Retrieved from URL https://iconscout.com/free-icon/teacup-tea-cup-without-handle-drink-beverage-food-emoj-symbol">
    </link>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet" />
<style>
  * {
  font-family: 'Source Sans Pro', sans-serif;
  }
</style> 
</head>
<body class="text-stone-800 backgroundWhiteSmoke">
    <%- include('../partials/navbar.ejs') %>
    <%- body %>
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>