<div class="flex w-full flex-wrap backgroundWhiteSmoke">
    <div class="flex w-full flex-col md:w-1/2 lg:w-1/3">
      <div class="my-auto flex flex-col justify-center px-6 pt-8 sm:px-24 md:justify-start md:px-8 md:pt-0 lg:px-12">
        <div class="text-center text-3xl font-bold md:leading-tight md:text-left md:text-5xl">
            <p>Welcome to</p>
          <p><span class="text-pink-600">Dragon Rewards</span></p>
        </div>
        <form class="flex flex-col pt-3 md:pt-8" id="loginForm">
          <div class="flex flex-col pt-4">
            <div>
              <input type="email" id="login-email" class="w-full flex-1 appearance-none border-gray-300 py-2 px-4 text-base placeholder-gray-400 focus:outline-none" placeholder="Email" />
            </div>
          </div>
          <div class="mb-12 flex flex-col pt-4">
            <div>
              <input type="password" id="login-password" class="w-full flex-1 appearance-none border-gray-300 py-2 px-4 text-base placeholder-gray-400  focus:outline-none" placeholder="Password" />
            </div>
          </div>
          <button type="submit" class="text-white shadow-md bg-pink-600 hover:bg-pink-700 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            <span class="w-full"> Submit </span>
          </button>
        </form>
        <div class="pt-12 pb-12 text-center">
          <p class="whitespace-nowrap">
            Don't have an account?
            <a href="#" class="font-semibold underline hover:text-stone-600"> Register here. </a>
          </p>
        </div>
      </div>
    </div>
    <div class="hidden shadow-inner shadow-2xl md:block md:w-1/2 lg:w-2/3 bg-cover
    bg-[linear-gradient(to_bottom,rgba(36,13,5,0.3),rgba(214,77,31,0.1)),url('https://i.ebayimg.com/images/g/QzgAAOSww9hlC7EN/s-l1200.webp')]"
    alt="[Boba tea shop with chalkboard art].(n.d.). [Digital image]. Retrieved from URL https://www.ebay.com/itm/394892006242">
      <div class="h-screen w-full"></div>
    </div>
  </div>    
  <script src="/scripts/loginPage.js"></script>