<div class="navBarContainer">
    <div class="m-auto w-96 basis-2/3">
      <div class="text-4xl font-bold text-stone-950">
        <!-- <a href="./index.html"><img alt="Stenseng, K. (Creator). (2024, May 10). wordonly [Digital image]." src="../images/wordonly.png" class="w-72"></a> -->
        <a href="./index.html"><span>Jasmine Dragon</span></a>
      </div>
      <div class="italic ml-12">
        <label>The Best Tea In Ba Sing Se</label>
      </div>
    </div>
    <div class="navBarMenu lg:text-xl hover:text-stone-950">
      <a href="./mochiDonuts.html?#">Order</a>
    </div>
    <div class="navBarMenu lg:text-xl hover:text-stone-950">
      <a href="./menu.html">Menu</a>
    </div>
    <div class="navBarMenu lg:text-xl hover:text-stone-950">
      <a href="#">About Us</a>
    </div>
  </div>