body {
    color: #463C34;
}

.backgroundPinkSalmon {
    background-color: #FDA4AF;
}

.backgroundGreenTea {
    background-color: #C9D5B5;
}

.backgroundBlueAir {
    background-color: #759FBC;
}

.backgroundWhiteSmoke {
    background-color: #F4F6F4;
}

.navBarContainer {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    background-color: #e6c2bf;
}

.navBarMenu {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 9rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    flex-basis: 8.333333%;
    font-weight: 600;
}

.header {
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 1;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    padding: 4rem 2rem;
    color: rgb(240 253 244);
}

input {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    background-color: rgb(250 250 249);
    border-width: 1px;
    border-color: rgb(209 213 219);
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
}

input:focus {
    --tw-ring-color: rgb(249 168 212);
    border-color: rgb(249 168 212);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.productCard {
    width: 100%;
    max-width: 20rem;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}

.productCard:hover {
    transform: scale(1.05) translateY(-0.25rem);
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.productCardImage {
    height: 15rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    object-fit: cover;
}